body {
    font-family: system-ui;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    background: transparent;
    -webkit-tap-highlight-color: transparent;
}

a,
button,
input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}